<html>
<head>
<meta http-equiv="type" content="text/html;charset=utf8" />
<meta name="Application" content="<%= $Appname %>"/>
<meta name="Programmer" content="Noam Samuel" />
<meta name="Version" content="<%= $version %>"/>
<title><%= $Appname %></title>
<style type="text/css">
<%= $css %>
</style>
</head>
<body>
<div id="header"><h1><%= $Appname %></h1></div>
<div class="nav floatcontainer" id="topnav"><ul> <li> <a href="<%= $siteurl %>">home</a></li> <% @departments.each do |department| %><li <% if department==@dep %>class="selected"<% end %><%= link_to department.name, :controller => "classes", :action => "department", :id => department.id %></li><% end %></ul></div>
<div id="container" class="floatcontainer">
<ul class="nuv subnav"><% @subjects.each do |subject| %><li><%= link_to subject.name, :controller => "classes", :action => "cover", :id => subject.id %></li><% end %></ul>
<div class="a"><h3>Documents for this unit</h3><ul class="documents"><% @documents.each do |document| %><li><%= link_to document.name, :controller => "classes", :action => "document", :id => document.id %></li><% end %></ul></div>
<div class="b">
<h2><%= @subj.name + ": " + @unit.name %></h2><%= textilize @unit.page %>
</div>
</div>
<div id="footer"><%= $Footer %></div>
</body>
</html>
